:host{
    background-color: wheat;
    width: 90%;
    margin: 0 auto;
    display: flex;
    border: 1px solid red;
}

.movie-image{
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
}

.movie-image-poster{
    padding: 25px;
    border: 1px solid orange;
}

.movie-info{
    flex-basis: 50%;
    text-align: left;
    align-items: center;
    justify-content: center;
    border: 1px solid violet;
}

.movie-rating{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    font-size: 28px;
    border: 1px solid tomato;
}

.movie-info-description-show{
    text-align: right;
    cursor: pointer;
}