.single-watch-record-class {
  background-color: #2f3756;
  width: 700px;
  height: 750px;
  padding: 20px;
  margin: 40px;
  color: #f5faff;
  -webkit-animation: shadowPoster 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadowPoster 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadowPoster {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadowPoster {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.title {
  font-size: 28px;
}

.genre {
  margin-top: 10px;
  color: #dcf2ff;
}
.description {
  padding: 15px 0;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.btn {
  margin: 30px auto;
  background-color: #fff;
  padding: 30px 75px;
  font-size: 22px;
}

.mat-mdc-card-footer {
  display: flex;
}
p {
  padding-top: 5px;
}
