<div class="btn-group">
    <a href='today' class="btn btn-data-select active"><button>{{today | date:"dd/MM"}}</button></a>
    <a href='tomorrow' class="btn btn-data-select"><button >{{tomorrow | date:"dd/MM"}}</button></a>
    <a href='todayAddTwoDays' class="btn btn-data-select"><button>{{todayAddTwoDays | date:"dd/MM"}}</button></a>
    <a href="todayAddThreeDays" class="btn btn-data-select"><button>{{todayAddThreeDays | date:"dd/MM"}}</button></a>
    <a href="todayAddFourDays" class="btn btn-data-select"><button>{{todayAddFourDays | date:"dd/MM"}}</button></a>
    <a href="todayAddFiveDays" class="btn btn-data-select"><button>{{todayAddFiveDays | date:"dd/MM"}}</button></a>
    <a href="todayAddSixDays" class="btn btn-data-select"><button>{{todayAddSixDays | date:"dd/MM"}}</button></a>
</div>
